PORT=4000
DATABASE_URL=

# OCR_PROVIDER puede ser: tesseract | aws-textract
OCR_PROVIDER=tesseract

# Fallback opcional si falla AWS Textract
OCR_FALLBACK_TO_TESSERACT=false

# Requeridas solo si OCR_PROVIDER=aws-textract
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
OCR_ACCESS_TOKEN=
