DATABASE_URL=postgresql://forio:forio@localhost:5432/forio
PORT=4000
DEFAULT_SUBJECT_SLUG=investigacion-operativa
DEFAULT_SUBJECT_NAME=Investigacion Operativa
DEFAULT_CAREER_NAME=Ingenieria en Sistemas
DEFAULT_YEAR_NUMBER=4
